[build]
  command = "vite build"
  dir = "dist/client"
[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"